{% extends "maestra.html" %} {% block titulo %} Agregar Habitación - Hotel {{
hotel_id }} {% endblock %} {% block contenido %}
<section class="section">
  <div class="columns">
    <div class="container mt-4">
      <h3 class="is-size-3">Agregar Nueva Habitación</h3>

      <form
        action="{{ url_for('formulario_agregar_habitacion', hotel_id=hotel_id) }}"
        method="POST"
      >
        <!-- Agrega campos del formulario según tu modelo de datos -->
        <label for="numero">Número:</label>
        <input type="text" name="numero" required />

        <label for="tipo">Tipo:</label>
        <input type="text" name="tipo" required />

        <label for="precio">Precio:</label>
        <input type="text" name="precio" required />

        <label for="foto_url">URL de la Foto:</label>
        <input type="text" name="foto_url" required />

        <button type="submit" class="button is-success">
          Agregar Habitación
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
